body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
}
h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}
.watch{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 200px;
}
.watch1{
    background-color: black;
    height: 792px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: grid;
    background-color: rgb(37, 37, 37);
    border-radius: 20%;
}
.grid{
    background-color: gray;
    border-radius: 20%;
    color: white;
    display: grid;
    background-color: black;
}
.container{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20%;
}
#text1{
    font-size: 40px;
}
#grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200px;
    font-size: 25px;
}
.btn {
     /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }